.image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.div{
    background-color: #d6cdcda9;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    width: 300px;
    transition: all 0.3s ease-in-out;
}
.div:hover{
    transform: scale(1.01);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}
.h1,h3{
    color: #2c3e50;

}
