body {
    background-color: #f3f3f3;
    font-family: sans-serif;
    padding: 20px;
}

.box1 {
    border-style: solid;
    border-color: #e91e63;
    padding: 40px;
    margin: 10px;
    background-color: #ffe6f0;
}

.box2 {
    border-style: solid;
    border-color: #3f51b5;
    padding: 20px;
    margin: 20px;
    background-color: #e3eaff;
}

.box3 {
    border-style: solid;
    border-color: #ff9800; 
    padding: 10px;
    margin: 40px;
    background-color: #fff3e0;
}
